@import 'tailwindcss';

@font-face {
  font-family: 'SCoreDream';
  src: url('/fonts/SCDream3-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SCoreDream';
  src: url('/fonts/SCDream5-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #2979ff;
  --color-primary-hover: #1565d8;
  --color-primary-pressed: #0d47a1;
  --color-primary-blue: #55bbff;
  --color-secondary: #f0f7ff;
  --color-secondary-pressed: #c9e2ff;

  --color-white: #fffefb;
  --color-black: #030712;
  --color-text-on-white: #121212;
  --color-white-stroke: #cccccc;
  --color-background: #f3f4f6;
  --color-text-on-background: #999898;
  --color-overlay: rgba(18, 18, 18, 0.4);
  --color-overlay-coach-mark: rgba(18, 18, 18, 0.75);
  --color-rating-active: #ffb400;
  --color-alert: #f87171;

  --color-sub1: #94d2ff;
  --color-sub2: #6198ff;

  --color-gray50: #f9fafb;
  --color-gray100: #f3f4f6;
  --color-gray200: #e5e7eb;
  --color-gray300: #d1d5db;
  --color-gray400: #9ca3af;
  --color-gray500: #6b7280;
  --color-gray600: #4b5563;
  --color-gray700: #374151;
  --color-gray800: #1f2937;
  --color-gray900: #111827;
  --color-gray950: #030712;

  --background-image-primary-gradient: linear-gradient(207deg, #2979ff 17.05%, #5bf 107.21%);
  --background-image-notfound-gradient: linear-gradient(
    180deg,
    var(--white, #fffefb) 15.18%,
    rgba(255, 254, 251, 0) 100%
  );
  --background-image-sub-gradient: linear-gradient(249deg, #94d2ff 15.06%, #6198ff 126.87%);

  --shadow-button: 0px 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-button-hover: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-gradient: 2px 2px 30px 0px rgba(0, 0, 0, 0.25);
  --shadow-alert: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  --shadow-tabbar: 2px 2px 10px rgba(0, 0, 0, 0.25);
  --inset-shadow-inner: inset 0px 2px 4px rgba(0, 0, 0, 0.05);

  --text-shadow-notfound: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@layer base {
  html,
  body {
    font-family: 'SCoreDream';
    background-color: #f5f5f5;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .custom-h1 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 140%;
  }

  .custom-h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 140%;
  }

  .custom-h3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 140%;
  }

  .custom-h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 140%;
  }

  .custom-h5 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 140%;
  }

  .custom-body1 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 160%;
  }

  .custom-body2 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 160%;
  }

  .custom-body3 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 140%;
  }

  .custom-button1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }

  .custom-button2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

@media (max-width: 1440px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #999898;
  border-radius: 15px;
}
